.reset-password-box {
  width: 100%;
  max-width: 400px;  /* Limit the width of the box */
  padding: 40px;  /* Add some padding inside the box */
  background-color: #fff;  /* White background */
  border-radius: 10px;  /* Rounded corners */
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* Soft shadow */
  margin: 0 auto;  /* Center the box horizontally */
  max-height: 300px;  /* Limit the height */
  display: flex;  /* Flexbox to center content */
  flex-direction: column;  /* Ensure content stacks vertically */
  justify-content: center;  /* Center content vertically */
  margin-top: 350px;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;  /* Full height */
  padding: 20px;  /* Add some padding */
  box-sizing: border-box;  /* Include padding in width calculations */
  margin-bottom: 50px;
}

.reset-password-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  max-width: 320px;
  padding: 12px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #555;  /* Darker on hover */
}

.message {
  color: 'green';
  margin-bottom: 20px;
}
