.reset-password-box {
    width: 100%;
    max-width: 400px;  /* Limit the width of the box */
    padding: 40px;  /* Increased padding for a more spacious look */
    background-color: #fff;  /* White background for the box */
    border-radius: 10px;  /* Rounded corners */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);  /* Soft shadow */
    margin-left:40%;
    height: 300px;
    margin-top: 100px;
  }
  

.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    margin-top: -540px;
  }
  
  .reset-password-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    font-size: 16px;
  }
  
  .submit-button {
    width: 320px;
    padding: 12px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px; /* Rounded corners */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #555; /* Darker on hover */
  }
  
  .message {
    color: red;
    margin-bottom: 20px;
  }
  